@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 
    
    <form asp-action="CreatePost" method="post">
        <button type="submit" class="btn btn-primary">Create Admin Post</button>
    </form>
    <form asp-action="CreatePost0" method="post">
        <button type="submit" class="btn btn-primary">Create Regular Post</button>
    </form>
    @* Display the result if it's available *@
    @if (ViewBag.Result != null)
    {
        <div class="mt-3 alert alert-info">
            @ViewBag.Result
        </div>
    }

</div>
